/*EN ESTA HOJA SE INDICAN LOS ESTILOS CSS A CONFIGURAR PARA QUE LA WEB TENGA EL
ASPECTO DE LA PRÁCTICA
CADA BLOQUE DE COMENTARIO CORRESPONDE CON UN SELECTOR Y BLOQUES A CREAR O CUMPLIMENTAR
*/

/* BODY
Para el body se definirán los siguientes estilos:
margen y padding: 0px. 
Texto centrado.
Fuentes:'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 */
body{

    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    
}


/* HEADER
Estilos de la cabecera:
Ocupará el 100% del ancho. 80px de alto
Color de fondo blanco
Tendrá un borde inferior de 1px color #ccc
 */


/*La clase center definirá un ancho del 85% y el margen se definirá para que se centre automáticamente*/

.center{
    display: flex;
    flex-flow: nowrap row;
    width: 85%;
    margin: auto; 
    justify-content: space-around;
    align-items: center;

}

/*La clase clearfix se utiliza para limpiar los elementos flotados */


/* Cumplimenta y añade las propiedades css que necesites para el logo 
  El logo ocupa un 30% del ancho de la cabecera*/
#logo {
    font-size: 1.5em;
    margin-top: 20px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: start;
}

/* Cumplimenta y añade las propiedades css que necesites para la imagen del logo */ 
#logo img {
    height: 60px;
    margin: 10px;
}

#ejemplo {
    margin-left: 10px;
    vertical-align: middle;    
}

/* MENU:  El menú ocupa un 70% del ancho de la cabecera*/

#menu{
    font-size: 18px;
    width: 70%;
}

#menu li{
    
    display: inline;
    margin: 0 10px;

}

#menu ul{
    list-style: none;
    line-height: 45px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}


/*
Los elementos de la lista del menú: 
no tendran viñetas
el alto será de 45px 
los márgenes derecho e izquierdo de 15px
 */

 
/*Los enlaces del menú de navegación no se mostrarán subrayados y el color será #444 */

#menu a{
    text-decoration: none;
    color: #444;
}

/*Cuando se pase el ratón por los enlaces del menú de navegación el color cambiará a #3cb2d3 */

#menu a:hover {
    color: #3cb2d3;
}

/* SLIDER. Propiedades:
color blanco
Ancho 100%
Alto 150px
El color del fondo será: rgba(73,155,234,1)
Sombra del texto: sombra horizontal y vertical 0px, blur: 5px, color de la sombra: #444
*/

#slider{
    color: white;
    background-color: rgba(73,155,234,1);
    width: 100%;
    height: 150px;
    text-shadow: #444 0px 0px 5px;
}

#slider > h1{
    margin-top: 0px;
    padding-top: 60px;
    text-align: center;
}

/*El texto del slider:
Margen superior:0px, Espacio entre el contenido y el borde 0px, excepto el superior que es de 60px.
Texto centrado
*/

/*Cumplimenta #content */
#content{
    text-align: center;
    width: 80%;     
}

.subheader{
    font-size: 30px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

/* Cumplimenta #sidebar. El margen de la izquierda será de 20px */
#sidebar{
    margin-left: 20px;
    width: 25%; 
}

.sidebar-item{
    background: #f7f7f7;
    padding: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
/*El título 3 de la clase sidebar-item:
Margen de 0px
Espacio entre el contenido y el borde inferior de 10px,
El borde inferior se mostrará con un tamaño de 3px y color #eee (observa la línea después del título 3) */

.sidebar-item > h3{
    text-align:center;
    margin: 0px;
    padding-bottom: 10px;
    border-bottom: 3px solid #eee;
}

.sidebar-item .btn{
    margin: auto; 
    margin-top: 10px;
}
/*BOTONES:
Cumplimenta y añade lo que necesites para los botones se muestren como en la captura
No tiene bordes
No aparece subrayado..
El cursor por defecto de la clase btn será la ?    */
.btn{
   display: flex;
   background: black; 
   color: white;
   padding: 15px; 
   font-weight: bold;
   font-size: 14px;
   max-width: 120px;
   text-decoration: none;
   border: 0;
   cursor: help;
}
/*
La clase btn-success:
El cursor  será la mano
Cuando se pasa el ratón por encima, el color de fondo del botón será negro
 */
.btn-success{
    background: rgb(23, 150, 19);
    cursor: grab;

}

.btn-success:hover{
    background:black;
}
/* Escribe el selector necesario para que los input de tipo texto tendrán las siguientes propiedades: */
input[type="text"]{
    width: 100%;
    min-height: 30px;
    border: 1px solid #ccc;
    padding: 3px;
    margin-bottom: 5px;
}

/*Cuando los input de tipo texto tengan el foco, el color de fondo cambiará a: #ee9  */

input[type="text"]:focus {
    background-color: #ee9;
}

.article-item{
    /*alinear el texto a la izda */
    display: flex;
    text-align: left;
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    padding-top: 20px;
}

.article-item .image-wrap {
    /*Si la imagen se desborda, se recorta*/
    width: 130px;
    height: 80px;
    margin-right: 15px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.info{
    display: block;
}

.article-item .image-wrap img{
    width: 100%;
}

.article-item h2{ /*cumplimenta...*/
    width:100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 7px;
}

.article-item .date{ /*cumplimenta...*/
    width: 100%;
    color: rgb(122, 122, 122);
}

.article-item a{ /*cumplimenta... El enlace no aparecerá subrayado*/
    display: block;
    text-decoration: none;
    color: #444;
    margin-top: 10px;
}
/*Cuando se pasé el ratón por encima del enlace de article-item se mostrará subrayado */

.article-item a:hover{
    text-decoration: underline;
}

#footer{
    background: #f7f7f7;
    width: 100%;
    height: 70px;
    line-height: 70px;
    margin-top:20px;
    color: #444;
}